body {
	margin: 0px; padding: 6px;
	display: block;
	background-color: #f0f0f0;
	border: 0px none transparent;
	font-family: monospace;
	font-size: 9pt; font-weight: normal;
	color: #555555;
}

img { border: 0px none transparent; }

b {
	margin: 0px; padding: 0px;
	display: inline;
	background-color: transparent;
	border: 0px none transparent;
	font-weight: bold;
	color: #555555;
}

td {
	background-color: transparent;
	border: 0px none transparent;
	font-size: 9pt; font-weight: normal;
	color: #555555;
}

div, form {
	margin: 0px; padding: 0px;
	display: block;
	background-color: transparent;
	border: 0px none transparent;
	font-size: 9pt; font-weight: normal;
	color: #555555;
}

input, textarea {
	margin: 0px; padding: 0px;
	background-color: #f0f0f0;
	border: 1px solid #c0c0c0;
	font-size: 9pt; font-weight: normal;
	color: #555555;
}

ol { list-style: upper-roman; }

a:link, a:active, a:visited {
	font-size: 9pt; font-weight: normal;
	color: #777777; text-decoration: none;
}

#tab {
	margin: 0px; padding: 2px;
	display: inline;
	background-color: #e5e5e5;
	border-width: 1px 1px 0px 1px;
	border-style: solid; border-color: #cccccc;
	font-size: 9pt; font-weight: bold;
	color: #555555;
}

#visited {
	margin: 0px; padding: 2px;
	display: inline;
	background-color: #e0e0e0;
	border-width: 1px 1px 0px 1px;
	border-style: solid; border-color: #cccccc;
	font-size: 9pt; font-weight: bold;
	color: #555555;
}

#visited a:link, #visited a:active, #visited a:visited {
	font-size: 9pt; font-weight: bold;
	color: #777777; text-decoration: none;
}

#container {
	margin:0px; padding:6px; width:640px;
	background-color: #fafafa;
	border: 1px solid #cccccc;
	font-size: 9pt; font-weight: normal;
	color: #555555;
}

#thread {
	margin: 2px 0px 0px 0px; padding: 6px;
	display: block;
	background-color: #f0f0f0;
	border: 1px solid #cccccc;
	font-size: 9pt; font-weight: normal;
	color: #555555;
}

#panel {
	margin: 2px 0px 0px 0px; padding: 6px;
	display: block;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	font-size: 9pt; font-weight: normal;
	color: #555555;
}

#profile {
	margin: 2px 0px 0px 0px; padding: 6px;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	font-size: 9pt; font-weight: normal;
	color: #555555;
}

#profile .cat {
	margin: 0px; padding: 3px;
	font-weight: bold;
	border: 1px solid #cccccc;
	background-color: #f5f5f5;
}

#profile .row {
	background-color: #e5e5e5;
}

#profile #key {
	margin: 5px;
}

#key .tab, #key div, #key td {
	padding:2px;
	font-family:verdana; font-size:7pt;
	color:white;
	background-color:black;
}

#key .visited {
	padding:2px;
	font-family:verdana; font-size:7pt;
	color: #cccccc;
	background-color:black;
}

#key b {
	font-family:verdana; font-size:7pt;
	font-weight:bold; color:white;
}

#key a:link, #key a:active, #key a:visited {
	font-size: 7pt; font-weight: normal;
	color: #0099ff; text-decoration: none;
}

#code {
	margin: 0px; padding: 6px;
	display: block;
	background-color: #f0f0f0;
	border: 1px dashed #aaaaaa;
	font-size: 7pt; font-weight: normal;
	color: #222222;
}

#container h1, #panel h1 {
	margin: 0px; padding: 2px;
	display: block;
	background-color: transparent;
	border-width: 0px 0px 1px 0px;
	border-style: solid; border-color: #000000;
	font-size: 9pt; font-weight: normal;
	color: #555555;
}

#thread h1 {
	margin: 0px; padding: 2px;
	display: block;
	background-color: transparent;
	border-width: 0px 0px 1px 0px;
	border-style: solid; border-color: #000000;
	font-size: 9pt; font-weight: normal;
	color: #555555; text-align: right;
}

#container h2 {
	margin: 2px; padding: 2px;
	display: block;
	background-color: transparent;
	border-width: 0px;
	border-style: none; border-color: transparent;
	font-size: 9pt; font-weight: normal;
	color: #555555; text-align: right;
}

#container h3 {
	margin: 2px; padding: 2px;
	display: block;
	background-color: transparent;
	border-width: 0px;
	border-style: none; border-color: transparent;
	font-size: 9pt; font-weight: normal;
	color: #555555; text-align: center;
}

#caption {
	width: 210px;

	margin: 2px; padding: 6px;
	display: block; float: right;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	font-size: 8pt; font-weight: normal;
	color: #555555; text-align: left;
}

#jukebox { position:absolute; top: -17px; left: -17px; }